@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                 sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
                 monospace;
}


.rainbow {
    /* 背景グラデーションを指定・幅を 200% にしておく */
    background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;

    /* 背景画像を文字でマスクする */
    background-clip: text;
    -webkit-background-clip: text;

    /* 文字色を透明にできればよく color: transparent でも color: rgba(0, 0, 0, 0) でも可 */
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    /* アニメーション指定 */
    animation: example 4s linear infinite;
}

/* 背景の横位置をズラす */
@keyframes example {
    to { background-position-x: 200%; }
}
